* {
  font-family: Verdana, Geneva, sans-serif;
}
body {
  padding-bottom: 50px;
}
nav {
  margin-top: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  .divider {
    margin: 0 5px;
  }
  .minutes-setting {
    cursor: pointer;

    &:first-child {
      margin-left: 5px;
    }
    &.chosen-minutes {
      font-weight: bold;
      color: #b50000;
    }
  }
}
.meritev {
  margin-top: 50px;

  h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 0;
  }
  .extremes {
    h3 {
      text-align: center;
    }
    .temperatura-meritev {
      display: flex;
      justify-content: center;
      align-items: center;

      .temperatura-meritev-item {

        strong {
          margin-right: 5px;
        }
        .datafield {

        }
        &:last-child {
          margin-left: 20px;
        }
      }
    }
  }
}
